* {
    font-family: Inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Inter;
    background-color: #e4e5e9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn-add-board {
    background-color: #0000ff;
    font-size: 16px;
    border: none;
    width: fit-content;
    color: white;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 32px 0 0 32px;
}
.btn-add-board:hover {
    background-color: #0700c4;
}

.kanban-board-container {
    margin: 8px 0 0 16px;
    border: 1px dashed rgba(10, 10, 10, 0.228);
    border-radius: 4px;
    width: 100%;
    overflow-x: auto;
    height: auto;
    /* white-space: nowrap; */
    background-color: #e4e5e9;
    display: flex;
    gap: 16px;
}
.kanban-board {
    border-radius: 4px;
    width: 23%;
    padding: 16px;
    margin: 16px;
    margin-bottom: 16px;
    /* border: 1px dashed rgba(0, 0, 0, 0.08); */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background-color: #5750500a;
}
.kanban-board .kanban-board-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.board-name-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding-left: 8px;
}

.board-heading-text-details {
    display: flex;
    flex-direction: column;
}
.board-heading-text-details .kanban-board-description {
    padding-left: 8px;
    /* border: 1px solid blue; */
}

.kanban-board-color-icon {
    width: 12px;
    height: 12px;
    background-color: #f08080;
    border-radius: 50%;
}
.kanban-board-title {
    font-weight: 500;
}
.kanban-board-task-count {
    background-color: rgb(255, 255, 255);
    padding: 4px 16px;
    border-radius: 24px;
    font-weight: 500;
}
.kanban-description-text {
    /* border: 1px solid blue; */
    font-size: 14px;
    color: rgba(0, 0, 0, 0.581);
}

.kanban-board .kanban-board-add-task-section {
    /* background-color: blue; */
    margin-top: 16px;
    padding: 8px;
}
.button-add-task {
    border-radius: 4px;
    background-color: white;
    width: 100%;
    border: none;
    padding: 8px 16px;
    color: #0052ff;
    font-size: 16px;
    font-weight: 500;
    font-family: Inter;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.button-add-task:hover {
    color: #0000ff;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.kanban-board-tasks {
    padding: 0 8px;
    margin-top: 16px;
     /* border: 1px solid blue; */
}
.kanban-board-tasks .kanban-task-card {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    /* border: 1px solid blue; */
}

.kanban-task-card {
    padding: 16px 24px;
    margin-bottom: 16px;
    /* padding-bottom: 24px; */
}
.kanban-task-card:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.kanban-task-card .kanban-task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
    /* padding: 0px; */
    
}

.kanban-task-info {
    
    display: flex;
    justify-content: left;
    gap: 16px;
    align-items: center;
    width: fit-content;
    /* border: 1px solid black; */
}

.kanban-task-info .kanban-task-title {
    font-size: 18px;
    font-weight: 500;
    color: rgb(0, 0, 37);
}
.kanban-task-info .kanban-task-priority {
    font-size: 14px;
    padding: 4px 12px;
    height: 20%;
    border-radius: 25px;
}
.kanban-task-info .kanban-task-priority.high {
    background-color: #ff4d4d;
    color: #ffffff;
}
.kanban-task-info .kanban-task-priority.medium {
    background-color: #ffb84d;
    color: #4d2a00;
}
.kanban-task-info .kanban-task-priority.low {
    background-color: #8de599;
    color: #03550e;
}
.kanban-edit-button{
    cursor: pointer;
}
.kanban-edit-button .dots{
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
    margin: 2px;
   
}
.kanban-task-card .kanban-task-description {
    font-size: 14px;
    color: #5f616a;
    margin-top: 16px;
}
.kanban-task-divider {
    border: none;
    height: 2px;
    margin-top: 24px;
    background-color: rgba(27, 25, 25, 0.051);
}
.kanban-task-footer {
    margin-top: 16px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #5f616a;
    font-weight: 500;
}
