<div id="new-board-modal" class="container modal">   
    <div class="new-board-container">
        <h1 class="board-heading">
            Create a New Board
            <button id="cancel-btn" class="new-board-cancel-btn">X</button>   
        </h1>

        <div class="board-name">
            <div class="wave-group">
                <input required type="text" id="board-name" class="input" />   
                <span class="bar"></span>
                <label class="label">
                    <span class="label-char" style="--index: 0">B</span>
                    <span class="label-char" style="--index: 1">o</span>
                    <span class="label-char" style="--index: 2">a</span>
                    <span class="label-char" style="--index: 3">r</span>
                    <span class="label-char" style="--index: 4">d</span>
                    <span class="label-char" style="--index: 5">&nbsp;</span>
                    <span class="label-char" style="--index: 6">N</span>
                    <span class="label-char" style="--index: 7">a</span>
                    <span class="label-char" style="--index: 8">m</span>
                    <span class="label-char" style="--index: 9">e</span>
                </label>
            </div>
        </div>

        <div class="board-description">
            <div class="wave-group">
                <input required type="text" id="board-description" class="input" />  
                <span class="bar"></span>
                <label class="label">
                    <span class="label-char" style="--index: 0">B</span>
                    <span class="label-char" style="--index: 1">o</span>
                    <span class="label-char" style="--index: 2">a</span>
                    <span class="label-char" style="--index: 3">r</span>
                    <span class="label-char" style="--index: 4">d</span>
                    <span class="label-char" style="--index: 5">&nbsp;</span>
                    <span class="label-char" style="--index: 6">D</span>
                    <span class="label-char" style="--index: 7">e</span>
                    <span class="label-char" style="--index: 8">s</span>
                    <span class="label-char" style="--index: 9">c</span>
                    <span class="label-char" style="--index: 10">r</span>
                    <span class="label-char" style="--index: 11">i</span>
                    <span class="label-char" style="--index: 12">p</span>
                    <span class="label-char" style="--index: 13">t</span>
                    <span class="label-char" style="--index: 14">i</span>
                    <span class="label-char" style="--index: 15">o</span>
                    <span class="label-char" style="--index: 16">n</span>
                </label>
            </div>
        </div>

        <div class="new-board-color">
            <label for="new-board-color" style="font-size: 18px">
                Choose Colour of New Board:
            </label>
            <div class="color-options">
                <button class="color-option" value="#ff9494" style="background: #ff9494"></button>
                <button class="color-option" value="#d8b8ef" style="background: #d8b8ef"></button>
                <button class="color-option" value="#85c7ff" style="background: #85c7ff"></button>
                <button class="color-option" value="#ffce6d" style="background: #ffce6d"></button>
                <button class="color-option" value="#ecbaed" style="background: #ecbaed"></button>
            </div>
        </div>

        <div class="board-buttons">
            <button id="create-board-btn" class="create-board-btn">Create Board</button>   
        </div>
    </div>
</div>
